body{
	min-width: 960px;
	color: #000000;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
}


.shop-header{
	background-color: #000000;
}

.container{
	width: 960px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

.main-navigation{
	float: left;
	min-width: 720px;
}

.main-navigation ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation .active{
	position: relative;
	background-color: none;
}

.main-navigation .active::after{
	content: "";
	display: block;
	position: absolute;
	height: 4px;
	background-color: #ffffff;
	bottom: 0;
	left: 20px;
	right: 20px;
}

.main-navigation a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 25px 20px;
}

.main-navigation a:hover{
	background-color: #242424;
}

.main-navigation .active a:hover{
	background-color: #000000;
}

.mini-logo-header a{
	padding: 22px 20px 20px 20px;
}

.mini-logo-header a:hover{
	background-color: #000000;
}

.user-block{
	float: right;
	min-width: 80px;
}

.login{
	position: relative;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.login::before{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	top: 28px;
	left: 20px;
	background: transparent url("../img/icon-login.png") no-repeat;
	opacity: 0.3;
}

.login:hover{
	background-color: #242424;
}

.login:hover::before{
	opacity: 1;
}

.shop-header .container::after{
	content: "";
	display: block;
	clear: both;
}

main{
	background: #f8f5f2 url("../img/bgcontent.png");
	padding-top: 56px;
	padding-bottom: 36px;
}

.shop-navigation{
	min-width: 720px;
	margin-bottom: 50px;
}

.shop-navigation h2{
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 26px;
}

.shop-navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.shop-navigation li{
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
}

.shop-navigation a{
	position: relative;
	text-decoration: none;
	color: #000000;
	display: block;
	padding-right: 26px;
	margin-right: 16px;
}

.shop-navigation a:hover{
	text-decoration: underline;
}

.shop-navigation a::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: #000000;
	top: 4px;
	right: 0;
}

.shop-navigation .current{
	color: #aba9a7;
}

.shop-gallery{
	width: 460px;
	font-size: 0;
	float: left;
	padding: 0;
}

.shop-gallery img{
	display: inline-block;
	margin: 0;
	box-shadow: 0 0 30px -8px #000000;
}

.shop-gallery img:first-child{
	margin-bottom: 10px;
}

.shop-gallery img:not(:first-child):not(:last-child){
	margin-right: 20px;
}

.shop-information{
	float: right;
	min-width: 400px;
	padding: 0;
	margin-top: 30px;
}

.the-information span{
	display: block;
	position: relative;
	margin-bottom: 38px;
}

.the-information p{
	margin: 0;
	margin-bottom: 38px;
}

.the-information span::after{
	position: absolute;
	content: "артикуль: dexter-ae";
	color: #aeaeae;
	top: 0;
	right: 16px;
}

.btn-and-prise{
	font-size: 0;
	margin-bottom: 38px;
}

.btn-and-prise span{
	display: inline-block;
	padding: 12px 28px;
	background-color: #e5e5e5;
	font-size: 14px;
	line-height: 18px;
}

.btn-and-prise a{
	display: inline-block;
	background-color: #000000;
	color: #ffffff;
	padding: 12px 18px;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
}

.btn-and-prise a:hover{
	background-color: #663d15;
}

.list-of-ingredients h2{
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 34px;
}

.list-of-ingredients ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-of-ingredients li{
	position: relative;
	padding-left: 20px;
}

.list-of-ingredients li::before{
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: #000000;
	left: 0;
	top: 7px;
}

.btn-and-prise::after{
	content: "";
	display: block;
	clear: both;
}

.main-baxter::after{
	content: "";
	display: block;
	clear: both;
}

.shop-footer{
	background: #222222 url("../img/GrayTint.jpg");
	padding-bottom: 40px;
}

.shop-footer p{
	margin: 0;
	padding: 0;
	color: #ffffff;
}

.shop-footer h2{
	color: #ffffff;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 16px;
	text-align: center;
}

.gradient{
	height: 41px;
	background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
	margin-bottom: 19px;
}

.footer-contacts{
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-contacts a{
	color: #ffffff;
}

.footer-contacts a:hover{
	text-decoration: none;
}

.footer-social{
	float: left;
	width: 260px;
	text-align: center;
}

.social-btn{
	display: inline-block;
	width: 43px;
	height: 43px;
	font-size: 0;
	margin: 0 2px;
}

.social-btn:first-of-type{
	background: #000000 url("../img/vk.png") no-repeat center;
}

.social-btn:nth-of-type(2){
	background: #000000 url("../img/f.png") no-repeat center;
}

.social-btn:last-of-type{
	background: #000000 url("../img/inst.png") no-repeat center;
}

.social-btn:first-of-type:hover{
	background: #ffffff url("../img/vb.png") no-repeat center;
}

.social-btn:nth-of-type(2):hover{
	background: #ffffff url("../img/fb.png") no-repeat center;
}

.social-btn:last-of-type:hover{
	background: #ffffff url("../img/instab.png") no-repeat center;
}

.footer-copyright{
	float: right;
	min-width: 140px;
}

.footer-copyright a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	text-align: center;
	background-color: #000000;
	padding: 12px 24px;
}

.footer-copyright a:hover{
	background-color: #ffffff;
	color: #000000;
}

.shop-footer .container::after{
	content: "";
	display: block;
	clear: both;
}

.modal-content{
	width: 300px;
	background: #f8f5f2 url("../img/bgcontent.png");
	padding: 50px 80px;
	color: #000000;
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	display: none;
}

.modal-content-show{
	display: block;
}

.modal-content .modal-content-close{
	position: absolute;
	width: 22px;
	height: 22px;
	font-size: 0;
	border: none;
	outline: none;
	cursor: pointer;
	top: 0;
	right: -34px;
	background-color: transparent;
}

.modal-content .modal-content-close::before,
.modal-content .modal-content-close::after{
	content: "";
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #d1d1d1;
	border-radius: 1px;
	left: 2px;
	top: 10px;
}

.modal-content .modal-content-close::before{
	transform: rotate(45deg);
}

.modal-content .modal-content-close::after{
	transform: rotate(-45deg);
}


.modal-content h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.modal-content p{
	margin: 0;
	margin-bottom: 14px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	border: 2px solid #000000;
	background-color: #f9f6f3;
	outline: none;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus{
	border-color: #beac9a;
}

.login-form .icon-user{
	background: #f9f6f3 url("../img/iconUser.png") no-repeat 268px center;
}

.login-form .icon-password{
	background: #f9f6f3 url("../img/iconPassword.png") no-repeat 268px center;
}

.login-form .restore{
	float: right;
	color: #000000;
}

.login-form input[type="checkbox"]{
	display: none;
}

.login-form .login-checkbox{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.login-form .login-checkbox:hover{
	color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator{
	position: absolute;
	left: 0;
	top: -3px;
	width: 17px;
	height: 17px;
	border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator{
	background: url("../img/xMark.png") no-repeat center;
}

.login-form .btn{
	width: 100%;
	margin-top: 15px;
}
